<div class="d-flex">
  <app-sidebar></app-sidebar>
  <!-- body -->
  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar: </h5>
        <input type="text" class="form-control" placeholder="buscar gifs...">
      </div>
    </div>
    <hr>
    <div class="row p-3">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus numquam illum ipsa. Non, iure. Voluptates
        possimus ea consectetur corporis voluptatum praesentium labore nobis iure minus magni deserunt excepturi, natus
        officia.
      </div>
    </div>
  </div>
</div>