<!-- sidebar -->
<div class="bg-dark border-right p-3" id="sidebar">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">GifsApp</span>
    </a>
    <hr class="text-white">
    <ul class="nav nav-pills flex-column mb-auto">
        <li *ngFor="let item of historial">
            <a href="#" class="nav-link text-white" aria-current="page">
                {{ item | titlecase }}
            </a>
        </li>
    </ul>
</div>